<!DOCTYPE html>
<html>
	<head>
		<title>Rave Map | Home</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Location-based website to help discover EDM events near the user">
		<meta name="keywords" content="EDM, Rave, Festival, Concert, Show, Find, Locate">
		<meta name="author" content="Tae-Min Kim">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" href = "{% static 'css/style.css' %}">
	</head>
	<body>
		<header>
			<div class="container">
				<div id="Logo">
					<h1>
						<span id="OB">[</span>
						<span id="R">R</span>
						<span id="A">A</span>
						<span id="V">V</span>
						<span id="E">E</span>
						<span id="M">M</span>
						<span id="A">A</span>
						<span id="P">P</span>
						<span id="CB">]</span>
					</h1>
				</div>
			</div>
		</header>
