{% include 'partials/header.html' %}
	<div class="container">
		<div class="box">
			<div id="map"></div>
			<div class="search">
				<div class="change_city">

					<!-- use backend to show filter form;
						 enable/disable location, show slider value, query api -->
				 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">
					 Change City
				 </button>

				 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Select A State and City</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<span class="location_label">Location: </span>
								<select class="location_dropdown" type="dropdown" id="new_location">
									<option value="default">Choose City</option>
									{% for l in locations %}
									<option value="{{l.location}}">{{l.city}}, {{l.state}}</option>
									{% endfor %}
								</select>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-info" id="save_btn" data-dismiss="modal">Save Changes</button>
							</div>
						</div>
					</div>
				</div>

					<!-- <form class="filter_form">
						<input type="radio" name="location" value="current" checked> Current Location<br>
						<input type="radio" name="location" value="other"> <input type="text" placeholder="Enter Zip Code" pattern="[0-9]{5}"><br>
						Distance: 0 mi.<input type="range" name="distance" min="0" max="100" step="5">100 mi.<br>
						<button type="submit" class="submit_search">Search</button>
					</form> -->

				</div>
				<div class="search_map">
					<button type=button class="btn btn-info" onclick="searchBounds();">Search This Area</button>
				</div>
			</div>
		</div>
		<div class="box">
			<div class = "rave_list">
				<!-- {% for info in raves %}
					<li>{{info.name}} @ {{info.venue}} - {{info.date}}</li>
				{% endfor %} -->
			</div>
		</div>
	</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
{% include 'partials/footer.html' %}
<script>
 var map;
 var markers = [];

 function initMap() {
	 	 map = new google.maps.Map(document.getElementById('map'), {
		 zoom: 11,
		 center: {lat: {{clat}}, lng: {{clng}}}
	 });
	 setMarkers();
 }

 function setMarkers() {
	 var info_window = new google.maps.InfoWindow();
	 var marker;

	 {% for v in venues %}
		 marker = new google.maps.Marker({
			 map: map,
			 position: {lat: {{v.latitude}}, lng: {{v.longitude}}}
		 });

		 google.maps.event.addListener(marker, 'click', (function(marker){
			 return function(){
					 info_window.setContent("{{v.name}}" + "<br>" + "{{v.address}}")
					 info_window.open(map, marker);

					 $.ajax({
						 url: '/ajax/show_raves/',
						 data: {
							 'venue_id': {{v.id}}
						 },
						 dataType: 'json',
						 success: function(data){
							 var rave_list_html = "<p class=\"list_title\">Raves at {{v.name}}:<p><ul>";
							 var raves = data.raves;

							 $.each(raves, function(r){
								 rave_list_html += "<li>" + raves[r].name + " - " + raves[r].date
								 + "<br>Featuring: " + raves[r].dj
								 + "<br><a target=\"_blank\" href=" + raves[r].tickets + ">Buy Tickets</a>"+ "</li>";
							 })
							 rave_list_html += "</ul>"

							 $('.rave_list').html(rave_list_html);
						 }
					 });
			 	}
		 })(marker));
		 markers.push(marker);
	 {% endfor %}

 }

	function searchBounds(){
		//remove old markers
		for (var x = 0; x < markers.length; x++){
			markers[x].setMap(null);
		}
		markers = [];

		//add new relevant markers
		var info_window = new google.maps.InfoWindow();
		var marker;

		var b = map.getBounds();
		var ne = b.getNorthEast();
		var sw = b.getSouthWest();

		$.ajax({
			url: '/ajax/search_map/',
			data:{
				'bounds': sw.lat(),
				'boundw': sw.lng(),
				'boundn': ne.lat(),
				'bounde': ne.lng()
			},
			dataType: 'json',
			success: function(data){
				var rave_list_html = "<p class=\"list_title\">New Venues Loaded<p><ul>";
				var venue_list = data.venues;

				$.each(venue_list, function(v){
				  marker = new google.maps.Marker({
			 		 map: map,
			 		 position: {lat: venue_list[v].lat, lng: venue_list[v].lng}
			 		});

		 		  google.maps.event.addListener(marker, 'click', (function(marker){
		 			 return function(){
		 					 info_window.setContent(venue_list[v].name + "<br>" + venue_list[v].address)
		 					 info_window.open(map, marker);

		 					 $.ajax({
		 						 url: '/ajax/show_raves/',
		 						 data: {
		 							 'venue_id': venue_list[v].id
		 						 },
		 						 dataType: 'json',
		 						 success: function(data){
		 							 var rave_list_html = "<p class=\"list_title\">Raves at " + venue_list[v].name + ":<p><ul>";
		 							 var raves = data.raves;

		 							 $.each(raves, function(r){
		 								 rave_list_html += "<li>" + raves[r].name + " - " + raves[r].date
		 								 + "<br>Featuring: " + raves[r].dj
		 								 + "<br><a target=\"_blank\" href=" + raves[r].tickets + ">Buy Tickets</a>"+ "</li>";
		 							 })
		 							 rave_list_html += "</ul>"

		 							 $('.rave_list').html(rave_list_html);
		 						 }
		 					 });
		 			 	}
		 		  })(marker));

					markers.push(marker);

					rave_list_html += "<li>" + venue_list[v].name + "</li>"
				})
				rave_list_html += "</ul>"

				$('.rave_list').html(rave_list_html)
			}
		});
	 }

	 $("#save_btn").on("click", function(){
		 var city = $("#new_location").val();
		 $.ajax({
			 url: '/ajax/change_city/',
			 data: {
				 'city': city
			 },
			 dataType: 'json',
			 success: function(data){
				 map.setCenter({lat: data.clat, lng: data.clng});
				 map.setZoom(11);

				 for (var x = 0; x < markers.length; x++){
				 	markers[x].setMap(null);
				 }
				 markers = [];

				 //add new relevant markers
				 var info_window = new google.maps.InfoWindow();
				 var marker;
				 var venue_list = data.venues;

				 $.each(venue_list, function(v){

				 marker = new google.maps.Marker({
			 		 map: map,
			 		 position: {lat: venue_list[v].lat, lng: venue_list[v].lng}
 			 	 });

				 google.maps.event.addListener(marker, 'click', (function(marker){
					return function(){
							info_window.setContent(venue_list[v].name + "<br>" + venue_list[v].address)
							info_window.open(map, marker);

							$.ajax({
								url: '/ajax/show_raves/',
								data: {
									'venue_id': venue_list[v].id
								},
								dataType: 'json',
								success: function(data){
									var rave_list_html = "<p class=\"list_title\">Raves at " + venue_list[v].name + ":<p><ul>";
									var raves = data.raves;

									$.each(raves, function(r){
										rave_list_html += "<li>" + raves[r].name + " - " + raves[r].date
										+ "<br>Featuring: " + raves[r].dj
										+ "<br><a target=\"_blank\" href=" + raves[r].tickets + ">Buy Tickets</a>"+ "</li>";
									})
									rave_list_html += "</ul>"

									$('.rave_list').html(rave_list_html);
								}
							});
					 }
				 })(marker));

				 markers.push(marker);
				})
			 }
		 });

		 $("#new_location").prop("selectedIndex", 0);
	 });

	 google.maps.event.addDomListener(window, 'load', initialize);
</script>
<script src={{gmap_url}} async defer></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
