body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:1.5;
	padding: 0;
	margin:0;
	background-color: #606060;
}

header{
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #404040;
	min-height: 50px;
	border-bottom: #00FFFF 3px solid;
}

header #A, header #E{
	color: #1aff1a
}
header #R, header #V, header #M, header #P{
	color: #b366ff;
}
header #OB, header #CB{
	color: #00FFFF;
}

.results{
	overflow: hidden;
	font-color: "white";
}

.container{
	overflow:hidden;
	width: 98%;
	margin-left: 2%
}

.box{
	width: 48%;
	float:left;
	min-height: 420px;
}

#map{
	height: 420px;
	frameborder:0;
	border:0;
}

.list_title{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	margin-top: 20px;
	color: #FFFFFF
}
.rave_list{
	margin-top: -5px;
	color: #FFFFFF
}

.search{
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
}

.change_city{
	float: left;
}

.search_map{
	float: right;
}

.change_city .drop{
}

.change_city .filter_form{
	display:none;
	border: #ffffff 1px solid;
	color:white;
	position: absolute;
	z-index: 1;
	background-color: #606060;
	box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
	padding: 5px;
	margin-top: 5px;
}

footer{
	font-family: Tahoma, Geneva, sans-serif;
	color: white;
	background-color: #404040;
	text-align:center;
	border-top: #00FFFF 3px solid;
	position: fixed;
	bottom:0px;
	width:100%;
}

@media(max-width: 768px){
	header{
		text-align: center;
		width:100%;
	}

.box{
		width:100%;
		float:none;
		margin-top:10px;
	}
}
